/*IMPORTS*/
@import url(font-awesome.min.css);

/*FONTS*/
.container h1, h2, h3, p {
	font-family: 'Poppins', sans-serif;
}

h1.lead, h2.lead {
	color: #ff0067;
	text-shadow: 2px 2px black;
	font-weight: 900;
}

a.webTitle {
	color: #ff0067;
	font-weight: 900;
	font-size: 36px;
	text-decoration: none;
}

h1.lead {
	padding-top: 25%;
	font-size: 67px;
}

h2.lead {
	font-size: 40px;
}

h3.aboutTeaser {
	color: black;
	text-shadow: 1px 1px darkgrey;
	font-weight: bold;
	font-size: 28px;
}

h1.about {
	font-size: 40px;
	color: black;
	font-weight: bolder;
}

p {
	font-size: 18px;
	color: black;
	line-height: 35px;
}

/*LAYOUT*/

div.jumbotron {
	background: url(../images/hero-img.png);
	background-size: cover;
	margin: 0;
}

a.btn-success {
	background-color: #ff87c3;
	border-color: #ff0067;
}

a.btn-success:hover {
	background-color: #ff0067;
	border-color: #ff0067;
}

a.btn-primary {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	margin: 1% 0;
	display: inline-block;
}

img.parallax-slider {
	opacity: 0.38;
	margin-left: 0;
	margin-right: 0;
}

