#grey-box {
	background-color: #E0E0E0;
	padding: 10px 5px;
}
#black-box {
	background-color: black;
	color: white;
	text-align: center;
}

.orange-box {
	background-color: orange;
	text-align: center;
}
#green-text {
	color: green;
	text-align: center;
}
#blue-text {
	color:blue;
	text-align: center;
}
#yellow-text {
	color: yellow;
	text-align: center;
}
body {
	padding: 1em 4em;
}