#grey-box {
	background-color: #E0E0E0;
	padding: 10px 6px;
}
#black-box {
	background-color: black;
	color: white;
	text-align: center;
	margin: 10px;
}

.orange-box {
	background-color: #ff5a00;
	text-align: center;
	padding: 3px 2px;
	margin: 10px;
}
#green-text {
	color: green;
	text-align: center;
}
#blue-text {
	color:blue;
	text-align: center;
}
#yellow-text {
	color: yellow;
	text-align: center;
}
body {
	padding: 1em 4em;
}